{% extends "shop/base.html" %}
{% block title %}{{ title }}{% endblock  %}

{% block content %}
    <div class="row">
{% for item in products %}
    <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/media/{{ item.image }}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{% url "shop:detail" item.slug %}">{{ item.name|title }}</a>
                  </h4>
                  <h5>Rs. {{ item.price|floatformat:"2" }}</h5>
                  <p class="card-text">{{ item.description }}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
{% empty %}
    <div class="card w-100">
    <div class="card-body">
        <h4>Item not available</h4>
    </div>
    </div>
{% endfor %}
    </div>

{% endblock %}

